{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <title>{% block subtitulo %}{% endblock subtitulo %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3507/3507102.png" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        
        <style>
            
            
            {% block estilos %}
            
            {% endblock estilos %}
            
        </style>
    </head>
    
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href= "{% url 'blog' %}" >PAGINA PRINCIPAL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link " href="{% url 'logout' %}">CERRAR SESION</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link active" href="{% url 'login' %}">Iniciar sesion</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'registro' %}">Registro</a></li>
                        
                        {% endif %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section>
            {% block contenido %}
            {% endblock contenido %}            
       </section>
        <section style="padding:80px 50px;">

        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Este proyecto fue realizado por Mauro Pisani Curlo <br><br>para uso exclusivo de la entrega final para el curso de python de CoderHouse</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
