{% extends 'Pagina_principal/Base.html' %}


{% block estilos %}
h1.titulos {
    color: grey;
}

{% endblock estilos %}

{% block contenido %}

<header class="mb-4">
    <!-- Post title-->
    <h1 class="fw-bolder mb-1">Bienvenid@ al Blog de Hablemos de CINE</h1>
    <!-- Post meta content-->
    <div class="text-muted fst-italic mb-2">by Mauro</div>
    <!-- Post categories-->
    <a class="badge bg-secondary text-decoration-none link-light" href="https://www.instagram.com/damiinakache/">Instagram</a>
</header>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">

<figure class="mb-4"><img class="img-fluid rounded" src="https://elpuntodelcine.com/media/zoo/images/Hablemos_de_Cine_1f72889b32a720166bc04bb258a41b06.png" alt="..." /></figure>

    
{% endblock contenido %}